<mat-card>
  <h2>Login</h2>
  <form class="example-form" [formGroup]="loginForm" (ngSubmit) ="onFormSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username"  formControlName="usernameControl" >
      <mat-error *ngIf="loginForm.controls.usernameControl.hasError('required')"> Introduceti un username </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password" formControlName="passwordControl">
      <mat-error *ngIf="loginForm.controls.passwordControl.hasError('required')"> Introduceti parola </mat-error>
    </mat-form-field>

    <button href="#" class="btn btn-primary form-btn"  [disabled]="!loginForm.valid" (onClick) = "onFormSubmit()">Login</button>
  </form>
</mat-card>
<router-outlet></router-outlet>
