:host {
  display: flex;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  padding: 2rem;
}

mat-card {
  width: 25rem;
  height: 35rem;
  margin: auto;
}

mat-form-field {
  padding: 0 1rem;
}

h2 {
  text-align: center;
}
