html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.padding{
  padding-bottom: 2rem;
}

.welcome-margin{
  margin-top: 2rem;
}

.admin-welcome-hr{
  border-top: 3px solid #b4b4b4;
  width: 30%;
  margin-top: .3rem;
  margin-bottom: 1rem;

}

.lead{
  font-weight: 500;
}
.text-margin{
  margin-left: 5rem;
  margin-top: 2rem;
}

li{
  margin-left: 5rem;
}

.user-table{
  margin-left: 5rem;
  margin-top: 2rem;
}

th{
  padding-left: 2rem;
}

td{
  padding-left: 2rem;
}
.save-user{
  margin-left: 5rem;
  margin-top: 1rem;
}
.save-user-form{
  display:flex;
  flex-direction: column;
  margin: 2rem 0 0 5rem;
}

.save-user-form mat-form-field{
  width: 30%;
}
.form-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;
  margin-top: 1rem;
  padding-left: 0;
}
.delete-button:hover{
  color: #007bff;
}
.edit-button:hover{
  color: #007bff;
}

.edit-user-form{
  display:flex;
  flex-direction: column;
  margin: 2rem 0 0 5rem;
}

.edit-user-form mat-form-field{
  width: 30%;
}
.edit-form-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10rem;
  margin-top: 1rem;
  padding-left: 0;
}

.img-height{
  height: 60%;
}

.card{
  width: 25rem;
  height: 30rem;
}

.services-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-top: 1rem;
  padding-left: 0;
}

.edit-facility-form{
  display:flex;
  flex-direction: column;
}

.edit-facility-form mat-form-field{
  width: 30%;
}

.edit-facility-form button{
  margin-top: 1rem;
}

.save-facility-form-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;
  margin-top: 1rem;
  padding-left: 0;
}

.edit-facility-form-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10%;
  margin-top: 1rem;
  padding-left: 0;
}

.facility-form-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-top: 1rem;
  padding-left: 0;
}

.upload-file{
  margin-top: 1rem;
}
.bot-margin{
  margin-bottom: 2rem;
}

.top-margin{
  margin-top: 2rem;
}

.no-padding-left{
  padding-left: 0;
}

.delete-btn{
background-color: #D4280D;
  color: white;
}

.delete-btn:hover{
  background-color: #8F1704;
}








