<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
<div class="container-fluid padding">
  <div class="col-12 text-center welcome-margin">
    <h1> Pagină admin </h1>
    <hr class="admin-welcome-hr">
  </div>
</div>

<div class="container-fluid welcome-margin">
  <div class="col-12">
    <h2> Gestionare utilizatori</h2>
  </div>
  <div class="col-12">
    <table class="user-table">
      <tr>
        <th> Username </th>
        <th> Specializare
        <th> Calendar ID</th>
        <th> Rol</th>
      </tr>
      <tr *ngFor="let user of users; let i = index;">
        <td> {{user.username}}</td>
        <td> {{user.specialization.name}}</td>
        <td> {{user.calendarId}}</td>
        <td>{{user.role.role}}</td>
        <td (click)="deleteUser(user, i)"><i class="fas fa-trash delete-button"></i></td>
        <td (click)="editUser(user)"><i class="fas fa-edit edit-button"></i></td>
      </tr>
    </table>
    <div class="col-12" >
    <form  *ngIf="canEditUser" [@enterAnimation] class="edit-user-form" [formGroup] = "editUserForm">
      <mat-form-field>
        <input formControlName="usernameControl" matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Specializare</mat-label>
        <mat-select formControlName = "specializationControl">
          <mat-option *ngFor="let spec of specs" [value]="spec.name">
            {{spec.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="calendarIDControl" matInput placeholder="Calendar ID">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName = "roleControl">
          <mat-option *ngFor="let role  of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-12 edit-form-buttons">
        <button href="#" class="btn btn-primary" type="button" [disabled]="!editUserForm.valid" (click)="submitUserEditForm()">Edit</button>
        <button href="#" class="btn btn-primary" type="button" (click)="cancelEditForm()">Cancel</button>
      </div>
    </form>
    </div>
  </div>
  <div class="col-12">
    <p class="lead text-margin"> Instructiuni pentru inserarea unui utilizator nou: </p>
  </div>
  <div class="col-12">
    <ol>
      <li> <p> Creearea, de catre noul utilizator, a unui calendar separat folosit pentru programari .</p></li>
      <li><p> Din setarile calendarului creat utilizatorul trebuie sa adauge la sectiunea "Colaborare cu alte persoane" contul serviciului Fizionova care este fizionova@usercredential.iam.gserviceaccount.com .</p></li>
      <li><p> La sectiunea de permisiuni utilizatorul trebuie sa aleaga ultima optiune, pentru a permitele contului de serviciu Fizionova sa faca modificari pe calendarul respectiv. </p></li>
      <li> <p> La sectiunea Calendar ID trebuie introdus id-ul calendarului, gasit tot in setarile acestuia la sectiunea "Integrati calendarul" .</p></li>
      <li> <p> Username-ul utilizatorului trebuie sa fie numele si prenumele acestuia .</p></li>
    </ol>
    <button href="#" class="btn btn-primary save-user" [disabled]="addUser" (click)="openSaveUserForm()">Adauga un utilizator nou</button>
    <form *ngIf="addUser" [@enterAnimation] class="save-user-form" [formGroup] = "saveUserForm">
      <mat-form-field>
        <input formControlName = "usernameControl" matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input formControlName = "passwordControl" matInput placeholder="Parola">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Specializare</mat-label>
        <mat-select formControlName = "specializationControl">
          <mat-option *ngFor="let spec of specs" [value]="spec.name">
            {{spec.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="calendarIDControl" matInput placeholder="Calendar ID">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName = "roleControl">
          <mat-option *ngFor="let role  of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-12 form-buttons">
        <button href="#" class="btn btn-primary" [disabled]="!saveUserForm.valid" (click)="submitSaveUserForm(false)">Salveaza</button>
        <button href="#" class="btn btn-primary" [disabled]="!saveUserForm.valid" (click)="submitSaveUserForm(true)">Salveaza si continua inserarea</button>
        <button href="#" class="btn btn-primary" type="button" (click)="cancelForm()">Cancel</button>
      </div>
    </form>

  </div>
  <hr>
</div>

<div class="container-fluid padding">
  <div class="col-12 welcome-margin">
    <h2> Gestionare servicii </h2>
  </div>
  <div class="container-fluid top-margin">
  <div class="row padding">
    <div *ngFor="let facility of facilities; let i = index" >
      <div class="col-md-4">
        <div class="card" >
          <img class="card-img-top img-height" [src]="transformImage(facility.imgPath)">
          <div class="card-body">
            <h4 class="card-title">{{facility.title}}</h4>
            <p class="card-text"> {{facility.description}}</p>
            <h5 class="card-title"> {{facility.price}}</h5>
            <div class="facility-form-buttons">
              <button href="#" class="btn btn-primary" (click)="editFacility(facility)">Edit</button>
              <button href="#" class="btn delete-btn" (click)="deleteFacility(facility.id, i)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
  <div class="container-fluid">
    <div class="col-12 no-padding-left">
      <form *ngIf="canEditFacility" [@enterAnimation] class="edit-facility-form bot-margin " [formGroup]="editFacilityForm">
        <mat-form-field>
          <input formControlName = "titleControl" matInput placeholder="Titlu">
        </mat-form-field>
        <mat-form-field>
          <textarea #message maxlength="500" formControlName = "descriptionControl" matInput placeholder="Descriere"></textarea>
          <mat-hint align="start"><strong>Limita de caractere </strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input formControlName = "priceControl" matInput placeholder="Pret" pattern="^[0-9]+$">
        </mat-form-field>
        <mat-label>Optional poti alege o alta imagine pentru acest serviciu</mat-label>
        <input class="upload-file" formControlName="imageControl" type="file" name="image" (change)="onFileEditInput($event)">
        <div class="edit-facility-form-buttons">
          <button href="#" type="submit" class="btn btn-primary" [disabled]="!editFacilityForm.valid" (click)="uploadEditedFacility()">Insereaza</button>
          <button href="#" type="button" class="btn btn-primary" (click)="cancelEditFacilityForm()">Cancel</button>
        </div>

      </form>
    </div>
  </div>
  <div class="col-12">
    <button href="#" class="btn btn-primary" [disabled]="saveFacility" (click)="openSaveServiceForm()">Adauga un serviciu nou</button>
  </div>
<div class="container-fluid">
  <div class="col-12">
    <form  *ngIf="saveFacility" [@enterAnimation] class="edit-facility-form" [formGroup]="saveFacilityForm">
      <mat-form-field>
        <input formControlName = "titleControl" matInput placeholder="Titlu">
      </mat-form-field>
      <mat-form-field>
        <textarea #message maxlength="500" formControlName = "descriptionControl" matInput placeholder="Descriere"></textarea>
        <mat-hint align="start"><strong>Limita de caractere </strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input formControlName = "priceControl" matInput placeholder="Pret" pattern="^[0-9]+$">
      </mat-form-field>
      <input class="upload-file"  formControlName="imageControl" type="file" name="image" placeholder="Insereaza o imagine" (change)="onFileInput($event)">
      <div class="save-facility-form-buttons">
        <button href="#" type="submit" class="btn btn-primary" [disabled]="!saveFacilityForm.valid" (click)="uploadFacility(false)">Insereaza</button>
        <button href="#" type="submit" class="btn btn-primary" [disabled]="!saveFacilityForm.valid" (click)="uploadFacility(true)">Insereaza si continua inserarea</button>
        <button href="#" type="button" class="btn btn-primary" (click)="cancelSaveFacilityForm()">Cancel</button>
      </div>
    </form>
  </div>
  <hr>
</div>
<div class="container-fluid welcome-margin">
  <div class="col-12">
    <h2> Gestionare specializari</h2>
  </div>
</div>
<div class="container-fluid">
  <div class="col-12">
    <table>
      <tr>
        <th> Numele specializarii </th>
      </tr>
      <tr *ngFor="let speciality of specs; let i = index;">
        <td> {{speciality.name}}</td>
        <td (click)="deleteSpecialization(speciality, i)"><i class="fas fa-trash delete-button"></i></td>
      </tr>
    </table>
    <button href="#" type="button" class="btn btn-primary top-margin" [disabled]="canOpenSaveSpeciality" (click)="openSaveSpeciality()">Adauga o specializare noua</button>
  </div>
  <div *ngIf="canOpenSaveSpeciality" [@enterAnimation] class="col-12 top-margin">
    <form  class="edit-facility-form" [formGroup] = "saveSpecialityForm">
      <mat-form-field>
        <input formControlName = "nameControl" matInput placeholder="Numele specializarii">
      </mat-form-field>
    </form>
    <div class="save-facility-form-buttons">
      <button href="#" type="submit" class="btn btn-primary" [disabled]="!saveSpecialityForm.valid" (click)="saveSpecialization(false)">Salveaza</button>
      <button href="#" type="submit" class="btn btn-primary" [disabled]="!saveSpecialityForm.valid" (click)="saveSpecialization(true)">Salveaza si continua inserarea</button>
      <button href="#" type="button" class="btn btn-primary" (click)="cancelSaveSpecialityForm()">Cancel</button>
    </div>
  </div>
<hr>
</div>
