html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar {
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}

.carousel-caption{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000000;
}

.carousel-caption h2{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000000;
}
.padding{
  padding-bottom: 2rem;
}

.smaller-padding{
  padding-bottom: 1rem;
}
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr{
  border-top: 3px solid #b4b4b4;
  width: 60%;
  margin-top: .3rem;
  margin-bottom: 1rem;

}
.calendar-button{
  margin-bottom: -1.5em;
}

.margin{
  margin-top: 2rem;
}

.card{
  margin: auto;
  width: 30%;
}

.margin hr{
  border-top: 2px solid #b4b4b4;
  width: 20%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.hide{
  display: none;
}

.step-items{
  width: 30%;
  height:30%;
  margin: 0 auto;
}

.step-text{

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-top: 1.5rem;
}

.lead{
  font-weight: 500;
}

.select-style{
  width: 30rem;
  margin-top: 1.5rem;
}

.green-bullet{
  color: green;
}

.red-bullet{
  color: red;
}
.orange-border{
  color: orange;
}

.calendar-legend{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.calendar-legend p{
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}



.form-btn{
  float:left;
  margin-top: 1rem;
  width: 13rem;
}


.cancel-button{
  margin-left: 2rem;
}
.info-icon{
  margin-left: 0;
  font-size: 20px;
}

.hint{
  padding-left: 0.5rem;
}

.spinner{
  margin-top: 2rem;
}

.step-button{
  margin-top: 1rem;
  width: 8rem;

}
.step-forward-button{
  margin-left: 1.5rem;
}

.about-us-text{
  font-weight: 400;
  font-size: 1.1rem !important;
}
.background-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fixed-consult {
  background-image: url("../assets/health-steps.jpg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.fixed-schedule {
  background-image: url("~src/assets/mac.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.schedule-wrap{
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

.jumbotron{
  margin-bottom: 0;
}

.dark-background{
  filter: brightness(30%);
}

.white-text{
  color: whitesmoke;
}
.fa-notes-medical{
  font-size: 3.5rem;
  color: #3BB9FF;
  margin-bottom: 1rem;
}
.fa-band-aid{
  font-size: 3.5rem;
  color: #3BB9FF;
  margin-bottom: 1rem;
}

.fa-running{
  font-size: 3.5rem;
  color: #3BB9FF;
  margin-bottom: 1rem;
}

.services-title-line{
  border-top: 2px solid #b4b4b4;
  width: 20%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.card{
  width: 25rem;
  height: 30rem;
}

.card-section-header{
  margin-top: 1.5rem;
  font-size: 3rem;
  text-shadow: 1px 1px 10px dimgrey;
}
.no-color{
  background-color: transparent;
}

.facility-text{
  float: left;
}

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light{
  border-top: 1px solid #d5d5d5;
  width: 30%;
}
.img-height{
  height: 60%;
}

.light-full{
  border-top: 1px solid #d5d5d5;
  width: 100%;
}

.social a{
  font-size: 3rem;
  padding: 1rem;
}

.fa-facebook{
  color: #3b5998;
}

.fa-instagram{
  color:  #3f729b;
}

.fa-facebook:hover,
.fa-instagram:hover {
  color:#d5d5d5;
}







