
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <main>
  <div *ngIf="url !== 'login' && url !== 'admin'">
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class = "container-fluid">
      <a class="navbar-brand" href="#"> <img src="assets/fizionova-logo.png"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#resp" aria-expanded="false" aria-controls="resp">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="resp">
        <ul class="navbar-nav ml-auto">
          <li class="font-weight-bold">
            <a class="nav-link" href="#"> Acasă</a>
          </li>
          <li class="font-weight-bold">
            <a class="nav-link" href="#"> Despre noi</a>
          </li>
          <li class="font-weight-bold">
            <a class="nav-link" href="#"> Pașii spre vindecare</a>
          </li>
          <li class="font-weight-bold">
            <a class="nav-link" href="#"> Servicii</a>
          </li>
          <li class="font-weight-bold">
            <a class="nav-link" href="#"> Programări online</a>
          </li>
          <li class="font-weight-bold">
            <a class="nav-link" href="#"> Contact </a>
        </ul>
      </div>
    </div>
  </nav>

  <div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
      <li data-target="#slides" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/background.png">
        <div class="carousel-caption">
          <h1> Fizionova</h1>
          <h2>Clinica de recuperare</h2>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/background2.png">
      </div>
      <div class="carousel-item">
        <img src="assets/background3.png">
      </div>
    </div>
  </div>

  <div class="container-fluid ">
    <div class="row jumbotron">
      <div class="col-md-12 col-lg-6">
        <h2 class="padding"> Despre noi...</h2>
        <p class="about-us-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque, est vitae fermentum mattis, nulla ipsum dictum libero, ullamcorper vulputate sem risus id ipsum. Aenean quis nisi ligula. Vivamus id sapien ac mi scelerisque sagittis. Donec facilisis dolor at enim convallis molestie. Integer vestibulum faucibus tortor eget sodales. Donec vehicula tortor vel ipsum laoreet, et vestibulum ex interdum. Donec sollicitudin tortor vitae risus tincidunt imperdiet.</p>
        <p class="about-us-text">In arcu leo, congue et efficitur eu, vulputate ac velit. Vestibulum ac lacus diam. Nullam porttitor eleifend nisi egestas vestibulum. Ut commodo tellus ac lorem hendrerit pretium. Pellentesque iaculis ex metus, vitae venenatis turpis bibendum gravida. Cras nec sem nec tortor malesuada varius non eu libero. Sed ullamcorper gravida accumsan.</p>
        <p class="about-us-text">In arcu leo, congue et efficitur eu, vulputate ac velit. Vestibulum ac lacus diam. Nullam porttitor eleifend nisi egestas vestibulum. Ut commodo tellus ac lorem hendrerit pretium. Pellentesque iaculis ex metus, vitae venenatis turpis bibendum gravida. Cras nec sem nec tortor malesuada varius non eu libero. Sed ullamcorper gravida accumsan.</p>
      </div>
      <div class="col-md-12 col-lg-6">
        <img src="assets/desk.png" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="background-wrap padding" >
    <div class="fixed-wrap">
      <div class="fixed-consult dark-background">
      </div>
    </div>
    <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="white-text"> Pașii spre vindecare și menținere a sănătății</h1>
          <hr>
        </div>
      </div>
    </div>
    <div class="container-fluid padding">
      <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fas fa-notes-medical"></i>
          <h3 class="white-text">CONSULTAȚIA</h3>
          <p class="about-us-text white-text"> Primul pas spre vindecare este oferirea unui diagnostic corect, acest lucru realizându-se prin intermediul consultațiilor de calitate pe care le oferim.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i fas class="fas fa-band-aid"></i>
          <h3 class="white-text">TRATAMENTUL</h3>
          <p class="about-us-text white-text"> O dată cu diagnosticarea se poate începe tratamentul propriu zis. Medicii noștri vor stabili un plan de tratament conform diagnosticului pentru ca recuperarea să fie cât mai eficientă.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fas fa-running"></i>
          <h3 class="white-text">ACTIVITATEA FIZICĂ</h3>
          <p class="about-us-text white-text"> Menținerea unei stări fizice bune, prin sport, este esențială pentru menținerea atât sănătății fizice cât și psihice </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-12">
        <h1 class="card-section-header"> Servicii oferite </h1>
        <hr class="services-title-line">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row padding">
      <div *ngFor="let facility of facilities" >
        <div class="col-md-4">
          <div class="card" >
            <img class="card-img-top img-height" src="{{facility.image}}">
            <div class="card-body">
              <h4 class="card-title">{{facility.title}}</h4>
              <p class="card-text"> {{facility.text}}</p>
              <h5 class="card-title"> 200 RON</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid padding jumbotron">
    <div class="row welcome text-center padding">

      <div class="col-12">
        <div class="container-fluid padding">
          <div class="col-12 smaller-padding">
            <i class="fas fa-calendar-alt fa-3x"></i>
          </div>
          <h1> Programări online </h1>
          <hr>
        </div>
        <div class="col-12">
          <p class="lead"> Aici puteți face programări online. Urmăriți pașii următori.</p>
        </div>
        <div class="col-12 jumbotron">
          <mat-horizontal-stepper class="no-color" *ngIf="canLoadStepper" (selectionChange) = "stepperChanged($event)" [linear]="true" #stepper >
            <div class="col-12">
              <mat-step [stepControl]="specialtyControl" class="grey-background">
                <ng-template matStepLabel><b>Alegeți specializarea </b></ng-template>
                <mat-form-field class="select-style">
                  <mat-error *ngIf="specialtyControl.hasError('required')"> Alegeți o specializare </mat-error>
                  <mat-label>Alegeți o specializare</mat-label>
                  <mat-select [formControl]="specialtyControl">
                    <mat-option *ngFor="let specialty of specialties" [value]="specialty">
                      {{specialty}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div>
                  <button href="#" matStepperNext class="btn btn-primary step-button" >Următorul pas</button>
                </div>
              </mat-step>
            </div>
            <mat-step [stepControl] = "doctorControl">
              <ng-template matStepLabel> <b>Alegeți numele medicului</b> </ng-template>
              <mat-form-field class="select-style">
                <mat-error *ngIf="doctorControl.hasError('required')"> Alegeți numele unui medic </mat-error>
                <mat-label>Alegeți un medic </mat-label>
                <mat-select [formControl]="doctorControl">
                  <mat-option *ngFor="let doctor of doctors" [value]="doctor.username">
                    {{doctor.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="step-buttons-wrap">
                <button href="#" matStepperPrevious class="btn btn-primary step-button" >Pasul anterior</button>
                <button href="#" matStepperNext class="btn btn-primary step-button step-forward-button"  >Următorul pas</button>
              </div>
            </mat-step>
            <mat-step [completed] = "step3Completed">
              <ng-template matStepLabel><b>Alegeți o zi disponibilă</b></ng-template>
              <p class="lead step-text"> Alegeți o zi disponibilă. </p>
              <div class="step-items">
                <mat-calendar #calendar *ngIf = "canLoadCalendar" [minDate] = "tomorrow" [dateClass] ="dateClass()" [selected]="selectedDate" (selectedChange)="selectDateCalendar($event) " [dateFilter]="weekendFilter" >
                </mat-calendar>


                <div class="calendar-legend">
                  <div class="d-inline-flex">
                    <i class="fas fa-circle green-bullet"></i>
                    <p class="lead"> Zile disponibile </p>
                  </div>
                  <div class="d-inline-flex">
                    <i class="fas fa-circle red-bullet"></i>
                    <p class="lead"> Zile indisponibile </p>
                  </div>
                  <div class="d-inline-flex">
                    <i class="far fa-circle orange-border"></i>
                    <p class="lead"> Ziua selectată </p>
                  </div>
                </div>
                <div>
                  <button href="#" matStepperPrevious class="btn btn-primary step-button" >Pasul anterior</button>
                  <button href="#" matStepperNext class="btn btn-primary step-button step-forward-button" >Următorul pas</button>
                </div>
              </div>
            </mat-step>
            <mat-step [stepControl]="hoursControl">
              <p class="lead step-text"> Selectați o oră disponibilă de începere a consultației. O consultație are o durată de 20 de minute.</p>
              <ng-template matStepLabel><b>Alegeți o oră disponibilă</b></ng-template>
              <mat-form-field  class="select-style">
                <mat-error *ngIf="hoursControl.hasError('required')"> Alegeți o ora</mat-error>
                <mat-label>Ore disponibile</mat-label>
                <mat-select [formControl]="hoursControl">
                  <mat-option *ngFor="let hour of hours" [value]="hour">
                    {{hour}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button href="#" matStepperPrevious class="btn btn-primary step-button" >Pasul anterior</button>
                <button href="#" matStepperNext class="btn btn-primary step-button step-forward-button" >Următorul pas</button>
              </div>
            </mat-step>
            <mat-step [stepControl] = "informationControlGroup" [completed] = "step4Completed">
              <p class="lead step-text"> Programarea dumneavoastră va fi pe data de {{programmedDate}} între orele {{startHour}} - {{endHour}}.</p>
              <ng-template matStepLabel><b>Completați informațiile</b></ng-template>
              <form class="form-container" [formGroup] = "informationControlGroup" (ngSubmit) ="onFormSubmit()">
                <mat-form-field >
                  <input formControlName = "firstNameControl" matInput placeholder="Nume" required>
                  <mat-error *ngIf="informationControlGroup.controls.firstNameControl.hasError('required') && informationControlGroup.controls.firstNameControl.touched"> Introduceți numele</mat-error>
                  <mat-error *ngIf="informationControlGroup.controls.firstNameControl.hasError('pattern') && informationControlGroup.controls.firstNameControl.touched"> Introduceți un nume valid</mat-error>

                </mat-form-field>

                <mat-form-field >
                  <input formControlName = "secondNameControl" matInput placeholder="Prenume" pattern="^[A-Za-z]+$" required>
                  <mat-error *ngIf="informationControlGroup.controls.secondNameControl.hasError('required') && informationControlGroup.controls.secondNameControl.touched"> Introduceți prenumele</mat-error>
                  <mat-error *ngIf="informationControlGroup.controls.secondNameControl.hasError('pattern') && informationControlGroup.controls.secondNameControl.touched"> Introduceți un prenume valid</mat-error>
                </mat-form-field>


                <mat-form-field >
                  <input formControlName = "phoneControl" matInput placeholder="Număr de telefon" required>
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-error *ngIf="informationControlGroup.controls.phoneControl.hasError('required') && informationControlGroup.controls.phoneControl.touched"> Introduceți numărul de telefon</mat-error>
                  <mat-error *ngIf="informationControlGroup.controls.phoneControl.hasError('pattern') && informationControlGroup.controls.phoneControl.touched"> Introduceți un număr de telefon valid</mat-error>
                </mat-form-field>
                <div class="d-inline-flex">
                  <button href="#" class="btn btn-primary form-btn" [disabled]="!informationControlGroup.valid" (onClick) = "onFormSubmit()">Finalizati programarea</button>
                </div>
                <mat-spinner *ngIf="loading" class="spinner" [diameter]="40"></mat-spinner>

              </form>
            </mat-step>
          </mat-horizontal-stepper>
        </div>

      </div>
    </div>
  </div>
  <footer>
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-12">
          <img src="assets/fizionova-logo.png">
          <hr class="light">
          <h5> Contact </h5>
          <hr class="light">
          <p>Telefon: 0757-239-393</p>
          <p>Adresă: Strada Armoniei nr 22 </p>
        </div>
        <div class="col-12 social">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="col-12">
          <hr class="light-full">
          <h5>&copy; Fizionova</h5>
        </div>
      </div>
    </div>
  </footer>
  </div>
    <router-outlet></router-outlet>
  </main>

