/* You can add global styles to this file, and also import other style files */
@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);
.blocked-date div {

  background-color: red;

}
.free-date div{
  background-color: green;
}
.mat-calendar-body-selected{
  box-shadow: inset 0 0 0 2px #FFA500;
}
.mat-calendar-body-today.mat-calendar-body-selected{
  box-shadow: inset 0 0 0 3px #FFA500;
}




