
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.user-welcome-hr{
  border-top: 3px solid #b4b4b4;
  width: 30%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.text-style{
  font-weight: 500;
}

.user-information{
  margin-top:3rem;
}

.user-info-form{
  display:flex;
  flex-direction: column;
}

.user-info-form mat-form-field{
  width: 30%;
}

.no-padding-left{
  padding-left: 0;
}


