<div class="container-fluid padding">
  <div class="col-12 text-center welcome-margin">
    <h1> Bine ai venit {{username}} </h1>
    <hr class="user-welcome-hr">
  </div>
</div>
<div class="container-fluid user-information">
  <div class="col-12">
    <p class="lead text-style"> Aici se afla informatiile despre contul dumneavoastra </p>
  </div>
  <div class="col-12">
    <form class="user-info-form" [formGroup]="userInfoForm">
      <mat-form-field>
        <input formControlName = "usernameControl" matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Specializare</mat-label>
        <mat-select formControlName = "specializationControl">
          <mat-option *ngFor="let spec of specs" [value]="spec.name">
            {{spec.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="calendarIDControl" matInput placeholder="Calendar ID">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName = "roleControl">
          <mat-option *ngFor="let role  of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-12 no-padding-left">
        <button href="#" class="btn btn-primary " type="button" [disabled]="!userInfoForm.valid" (click)="saveModifications()">Salveaza modificarile</button>
      </div>
    </form>
  </div>
</div>
